.cart {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.currencyInput:read-only {
  border: 0;
  text-align: right;
  background-color: transparent;
}

.total {
  align-self: flex-end;
}

table, tr {
  display: flex;
  justify-content: space-between;
}

tr:nth-child(odd){
  background-color: #b8b6b671;
}

th {
  padding: 1rem .5rem;
  text-align: left;
}
td {
  padding: .5rem;
}
th:nth-child(even),td:nth-child(even){ 
  min-width: 13rem;
}
th:nth-child(odd),td:nth-child(odd){ 
  min-width: auto;
}