.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.input {
  margin-bottom: .5rem;
  padding: 1rem;
  width: 100%;
}
.button {
  padding: 1rem;
  margin-top: .5rem;
  align-self: flex-end;
  border-radius: .4rem;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.flexContainer label {
  margin-top: 1rem;
  padding-bottom: .5rem;
}